@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')


@import "base/variables"
@import "base/mixins"

@font-face 
    font-family: "PlantagenetCherokee"
    src: url("../font/PlantagenetCherokee.ttf") format("truetype")
    font-style: normal
    font-weight: normal
@font-face 
    font-family: 'PF BeauSans Pro XThin'
    src: url('../font/PFBeauSansPro-Bbook.ttf') format("truetype")
    font-weight: 100
    font-style: italic
@font-face
    font-family: "SegoeScript"
    src: url("../font/SegoeScript.ttf") format("truetype")
    font-style: normal
    font-weight: normal
* 
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0


.container
    max-width: 1240px
    margin: 0 auto 
.title-main
        position: relative
        text-align: center
        color: #fff
        font-weight: 600
        &::before
            content: ""
            position: absolute
            background: url("../icons/angle/rectangle.png")
            top: -5px
            width: 120px
            height: 12px
        span
            color: $main-color

.title_black
        position: relative
        text-align: center
        color: #000
        font-weight: 600
        &::before
            content: ""
            position: absolute
            background: url("../icons/angle/rectangelblack.png") no-repeat
            top: -5px
            width: 120px
            height: 12px
        &-mobile
            display: none
        &-desktop
            display: block
.tac
    text-align: center  !important
.tan
    text-align: start !important
.formonpage
    background: #000
.gradient
    background: linear-gradient(181deg, black 64%, #fed739 100%) !important
.backYellow
    background: url('../img/workExamples/bg.png') no-repeat 50%/cover
    .sweets__title
        color: #000
.webS
    padding-top: 160px
    background: url('../img/workExamples/black.png') no-repeat 50%/cover
.mt0
    margin-top: 0 !important


@import "blocks/header"
@import "blocks/fontsize"
@import "blocks/btn"
@import "blocks/first_page/firstBlock"
@import "blocks/first_page/wants"
@import "blocks/first_page/wayus"
@import "blocks/first_page/compare"
@import "blocks/projectslider"
@import "blocks/first_page/companytrust"
@import "blocks/ourteam"
@import "blocks/first_page/specialoffer"
@import "blocks/_footer"
@import "blocks/_modal"
@import "blocks/media/_media"
@import "blocks/_menu"
@import "blocks/_preloader"
@import "blocks/second_page/_creature"
@import "blocks/second_page/_stagesofdev"
@import "blocks/_howmatch"
@import "blocks/_formonpage"
@import "blocks/second_page/_multipage"
@import "blocks/second_page/_someinfo"
@import "blocks/second_page/_ouroffer"
@import "blocks/media/_media2"
@import "blocks/brending/_brend"
@import "blocks/brending/_should"
@import "blocks/brending/_create"
@import "blocks/brending/_wrongbranding"
@import "blocks/media/_mediabrending"
@import "blocks/seo/_bestseo"
@import "blocks/seo/_whatisseo"
@import "blocks/seo/_analytics"
@import "blocks/media/_mediaseo"
@import "blocks/curatorstvo/_firstblock"
@import "blocks/curatorstvo/_wemake"
@import "blocks/curatorstvo/_trusttous"
@import "blocks/curatorstvo/_mainservice"
@import "blocks/curatorstvo/_separately"
@import "blocks/media/_media-cura"
@import "blocks/context/_firstblock"
@import "blocks/context/_adsfromus"
@import "blocks/context/_transitionblock"
@import "blocks/context/_selectionads"
@import "blocks/media/_mediacontext"
@import "blocks/target/_firstblock"
@import "blocks/target/_trustads"
@import "blocks/target/_howwillgo"
@import "blocks/target/_bestmedia"
@import "blocks/media/_targetmedia"
@import "blocks/smm/_eco"
@import "blocks/smm/_gotu"
@import "blocks/media/_smmmedia"
@import "blocks/contacts/_remote"
@import "blocks/contacts/_nuance"
@import "blocks/media/_contacts"
@import "blocks/cases/_cases"
@import "blocks/media/_mediaCases"
@import "blocks/exemples/_preview"
@import "blocks/exemples/_description"
@import "blocks/exemples/beauty/_grat"
@import "blocks/media/_exemplesmedia"
@import "blocks/exemples/_photographer"
@import "blocks/media/_pgotopraphmeadi"
@import "blocks/exemples/_sweets"
@import "blocks/exemples/_webshop"
@import "blocks/exemples/_tictok"























