.description
    padding-top: 50px
    padding-bottom: 100px
    background-color: $main-color
    &__header
        padding: 40px 0 40px 35px
        background-color: rgba(0, 0, 0, 0.85)
        border-radius: 10px
        font-size: 30px
        font-weight: 600
        color: $main-color
        margin-bottom: 35px
    &__field
        margin-bottom: 65px
        padding-top: 40px
        padding-left: 35px
        background-color: rgba(0, 0, 0, 0.85)
        border-radius: 10px
        padding-bottom: 55px
        &-title
            position: relative
            font-size: 30px
            font-weight: 600
            color: #fff
            &::after
                content: ""
                position: absolute
                width: 250px
                height: 7px
                background-color: $main-color
                bottom: -35px
                left: -35px
        &-info
            margin-top: 90px
        &-item
            display: flex
            align-items: center
            &:nth-child(1)
                .description__field-text
                    margin-left: 65px
        &-number
            font-size: 80px
            font-weight: 700
            color: $main-color
            opacity: .4
        &-text
            font-size: 20px
            font-weight: 400    
            color: #fff
            max-width: 900px    
            margin-left: 50px
            
        &-circle
            height: 25px
            width: 25px
            background-color: $main-color
            opacity: 0.4
            border-radius: 100%
        &-round
            width: 50px
            height: 50px
            background-color: $main-color
            border-radius: 100%
            display: flex
            align-items: center
            justify-content: center
            font-size: 30px
            font-weight: 700
            opacity: 0.4
    .list-circle
        .description
            &__field
                &-text
                    margin-left: 20px
                &-item
                    margin-bottom: 20px
    .list-round
        .description
            &__field
                &-text
                    max-width: 1030px
                    margin-left: 35px
                    span
                        margin-left: 30px
                &-item
                    margin-bottom: 20px

.open-sans
    font-family: 'Open Sans', sans-serif  
    display: flex
    div
        margin-left: 30px
    span
        font-family: 'Open Sans', sans-serif  
        &:nth-child(1)
            font-weight: 400
        &:nth-child(2)
            font-weight: 600
            margin-left: 30px

.PlantagenetCherokee
    font-family: "PlantagenetCherokee"
.SegoeScript
    font-family: "SegoeScript"
.montserrat
    font-weight: 700
    span
        font-weight: 500
    .fwr
        font-weight: 400
    .fwb
        font-weight: 700
    .fwl
        font-weight: 300
.beauSans
    font-family: 'PF BeauSans Pro XThin'
.caslon
     font-family: 'Uk_Caslon'
.open-Sans
    font-weight: 700
    span
        font-weight: 400
    .fwr
        font-weight: 400
    .fwb
        font-weight: 700
    .fwl
        font-weight: 300

.SeoulHangang
    font-family: "SeoulHangang"
.roboto
    font-family: 'Roboto', sans-serif
    .fwr
        font-weight: 400
    .fwb
        font-weight: 700
.color
    display: grid 
    grid-template-columns: 100px 100px 100px 100px 100px
    grid-auto-flow: column
    column-gap: 50px 
    grid-template-rows: auto
    .description
        &__field
            &-item
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center

                span
                    width: 100px
                    height: 100px
                    background-color: #000
            &-text
                margin-left: 0px    !important
                margin-top: 10px

.FF8500
    background-color: #FED739 !important
.FFF
    background-color: #fff !important
.black
    background-color: #000 !important
.black-wb
    background-color: #000 !important
    border: 1px solid #fff
.A49
    background-color: #A49D00 !important
.EEAC7C
    background-color: #EEAC7C !important
.F3C3A1
    background-color: #F3C3A1 !important   
.EEF3FF 
    background-color: #EEF3FF !important
.FF0606
    background-color: #FF0606 !important
.c84715C
    background-color: #84715C !important
.C6AB4E
    background-color: #C6AB4E !important
.c1BE0AB
    background-color: #1BE0AB !important
.с4F7069
    background-color: #4F7069 !important
.c011638
    background-color: #011638 !important
    border: 1px solid #fff
.c719A77
    background-color: #719A77 !important
.FFE603
    background-color: $main-color !important
.EDD97F
    background-color: #EDD97F !important
.FE164A
    background-color: #FE164A !important
.c77C1E5
    background-color: #77C1E5 !important
.CD7E80
    background-color: #CD7E80 !important
.c8C0004
    background-color: #8C0004 !important
.FFD357
    background-color: #FFD357 !important
.c1E3D59
    background-color: #1E3D59 !important
.DBB761
    background-color: #DBB761 !important
.long
    &::after
        width: 550px
.blackangle
    width: 100%
    position: absolute
    top: 0px