.preview
    padding-top: 70px
    padding-bottom: 150px
    background: url("../img/workExamples/beauty/beauty_bg.png") no-repeat 50%/cover
    &__title
        font-size: 45px
        font-weight: 600
        color: $main-color
        max-width: 1000px
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 70px
        &-min
            display: none
        &-descr
            max-width: 410px    
            div
                font-size: 25px
                color: #fff
                font-weight: 300
                margin-bottom: 70px
        &-photo
            img
                