.webshop
    background: url('../img/workExamples/black.png') no-repeat 50%/cover
    padding-top: 300px
    &__wrapper
        display: flex
        justify-content: space-between
        &-item
            display: flex
            flex-direction: column
            align-items: center
            width: 50%
        &-title
            text-transform: uppercase
            margin-bottom: 60px
            text-align: center
            color: $main-color
            font-weight: 600
            font-size: 30px

.mt90px
    margin-top: 90px