.create
    position: relative
    background: url("../img/brending/create.png") no-repeat 50%/cover
    padding: 100px 
    &__wrapper
        display: flex
        align-items: center
        &-text
            font-size: 120px
            font-weight: 800
            color: rgba(255, 255, 255, 0.42)
            margin-left: 50px
            

