.howmatch
    padding-top: 150px
    background: url("../img/howmatch.png") round
    padding-bottom: 75px
    position: relative
    &__wrapper
        width: 100%
        background-color: #000
        border-radius: 15px
        padding-top: 35px
        padding-bottom: 95px
        display: flex
        border: 1px solid #fff
        margin-top: 70px
        margin-bottom: 60px
    &__item
        width: 33%
        padding-left: 40px
        padding-top: 60px
        padding-right: 30px
        border-right: 1px solid #fff
        display: flex
        flex-direction: column
        justify-content: space-between
        &:last-child
            border-right: none
        &-title
            color: #fff
            text-align: center
            padding-bottom: 35px
            // border-bottom: 1px solid #fff
            span
                font-size: 13px
        &-conditions
            text-align: center
            padding-top: 50px
            border-top: 1px solid #fff
            color: $main-color
            font-weight: 600
            font-size: 22px
    &__list
        padding-top: 50px
        list-style-type: none
        border-top: 1px solid #fff
        li
            display: flex
            align-items: center
            margin-bottom: 60px
            
            span
                background-color: $main-color
                width: 15px
                height: 15px
                border-radius: 100%
        &-text
            width: 80%  
            color: #fff 
            margin-left: 20px
            font-weight: 400
            font-size: 15px
            span
                font-size: 13px
                font-weight: 400
                border-radius: 0% !important
                background-color: #000  !important
            ul
                list-style-type: disc
                li
                    font-size: 11px
                    margin-bottom: 5px
                    
.buttoninitem
    display: none
.alignstart
    align-items: start !important
.yellow
    color: $main-color
    font-weight: 400
    font-size: 15px
.paddingmore
    padding-bottom: 60px
.condpaddingmore
    padding-top: 98px
.w400
    width: 400px  
.w100
    width: 100%  
.nmt
    margin-top: 0

