.howmatch
    padding-top: 150px
    background: url("../img/howmatch.png") round
    padding-bottom: 75px
    position: relative
    &__wrapper
        width: 100%
        background-color: #000
        border-radius: 15px
        padding-top: 35px
        padding-bottom: 95px
        display: flex
        border: 1px solid #fff
        margin-top: 70px
        margin-bottom: 60px
        .titleinwrapper
            text-align: center
            color: $main-color
            margin: 50px 0
            display: block
            font-size: 30px
            font-weight: 500
    &__item
        width: 33%
        padding-left: 40px
        padding-top: 60px
        padding-right: 30px
        border-right: 1px solid #fff
        display: flex
        flex-direction: column
        justify-content: space-between
        &:last-child
            border-right: none
        &-wrapper
            display: flex
        &-title
            color: #fff
            text-align: center
            padding-bottom: 35px
            // border-bottom: 1px solid #fff
            span
                font-size: 13px
        &-conditions
            text-align: center
            padding-top: 50px
            border-top: 1px solid #fff
            color: $main-color
            font-weight: 600
            font-size: 22px
    &__list
        padding-top: 50px
        list-style-type: none
        border-top: 1px solid #fff
        &-wrapper
            display: flex
            flex-direction: column
            width: 95%
        &-title
            margin-left: 15px
            font-size: 18px
            font-weight: 600
            color: $main-color
        li
            display: flex
            align-items: start
            margin-bottom: 60px
            
            span
                background-color: $main-color
                width: 15px
                height: 15px
                border-radius: 100%
                margin-top: 5px
        &-text
            width: 90%  
            color: #fff 
            margin-left: 20px
            font-weight: 400
            font-size: 17px
            span
                font-size: 13px
                font-weight: 400
                border-radius: 0% !important
                background-color: #000  !important
            ul
                list-style-type: disc
                li
                    font-size: 15px
                    margin-bottom: 5px
                    
.buttoninitem
    display: none
.alignstart
    align-items: start !important
.yellow
    color: $main-color
    font-weight: 400
    font-size: 15px
.paddingmore
    padding-bottom: 60px
.condpaddingmore
    padding-top: 98px
.w400
    width: 400px  
.w100
    width: 100%  
.nmt
    margin-top: 0

.seo
    .howmatch
        &__wrappper
            flex-direction: column
        &__item
            &-title
                font-size: 14px
            &-wrapper
                display: flex
        &__list
            &-text
                font-size: 14px
                margin-bottom: 10px
            &-title
                margin-bottom: 10px
        &__card
            margin-top: 85px
            &-top
                font-size: 22px
                font-weight: 600
                color: $main-color
                margin-bottom: 20px
            &-bottom
                font-size: 18px
                font-weight: 400
                color: #fff
            &-title
                text-align: center
                font-size: 30px
                font-weight: 600
                color: #fff
            &-wrapper
                margin-top: 50px
                column-gap: 40px
                row-gap: 30px
                display: grid
                justify-content: center
                grid-template-columns: repeat(2, 530px)
                grid-template-rows: repeat(2, 195px)
                margin-bottom: 60px
            &-item
                border: 1px solid #fff
                border-radius: 17px
                padding: 20px 18px
    .yellow-title
        font-size: 18px
        font-weight: 700
        color: $main-color
.seo .howmatch__wrapper
    flex-direction: column
.buttonincard
    display: none
.bottonoutcard
    display: flex
.gradient .howmatch__wrapper
    display: block

.gradient
    .howmatch
    .yellow-title
        font-size: 18px
        font-weight: 600
        color: $main-color
    .pb60px
        padding-bottom: 60px
    .paddingmore
        padding-bottom: 65px

