.multipage
    padding-top: 85px
    padding-bottom: 40px
    background: url("../img/second/multipage.png") no-repeat 50%/cover
    &-title
        color: $main-color
        font-size: 30px
        font-weight: 700
        position: relative
        &::after
            content: ""
            position: absolute
            background: url("../icons/angle/angle.png")
            width: 61px
            height: 61px
            top: -30px
            left: -40px
    &-wrapper
        position: relative
        display: flex
    &-leftside
        height: 755px
        color: $main-color
        font-weight: 700
        font-size: 55px
        z-index: 3
        h4
            width: -10px
            display: block
            transform: rotate(-90deg) 
            left: -470px
            top: 415px  
            position: absolute
    &-offer
        border: 1px solid #fff
        border-radius: 10px
        background: rgba(0, 0, 0, 0.8)
        margin-top: 50px
        padding-bottom: 50px
        margin-bottom: 50px
    &__list
        padding-top: 50px
        padding-left: 35px
        max-width: 730px    
        list-style-type: none
        margin-bottom: 50px
        li
            align-items: center
            display: flex
            margin-bottom: 15px
            span
                height: 15px
                width: 15px
                border-radius: 100%
                background-color: #fff
        &-text
            color: #fff
            font-size: 18px
            font-weight: 600
            margin-left: 30px
    &-condition
        font-size: 22px
        font-weight: 600
        color: #fff 
        padding-left: 35px
        margin-bottom: 15px